pytorch_pretrained_bert
lmdb
tensorboardX
tensorflow==1.13.1
tensorpack==0.9.4
tqdm==4.31.1
easydict==1.9
PyYAML==5.1.2
jsonlines==1.2.0
json_lines
matplotlib
Cython
python_prctl
msgpack
msgpack_numpy
